<table class="table table-sm table-striped table-hover">
  <tr class="table-primary">
    <th>
      <%= link_to new_question_path do %><%= fa_icon "plus" %><% end %>
    </th>
    <th>Question</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>Correct Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @questions.each do |question| %>
    <tr>
      <td></td>
      <td><%= question.question %></td>
      <td><%= question.choice_a %></td>
      <td><%= question.choice_b %></td>
      <td><%= question.choice_c %></td>
      <td><%= question.choice_d %></td>
      <td><%= question.correct_answer.upcase %></td>
      <td>
        <%= link_to question_path(question) do %>
          <%= fa_icon "eye" %>
        <% end %>
      </td>
      <td>
        <%= link_to edit_question_path(question) do %>
          <%= fa_icon "edit" %>
        <% end %>
      </td>
      <td>
        <%= link_to question_path(question),
              method: :delete,
              data: { confirm: 'Are you sure?' } do %>
        <%= fa_icon "trash" %><% end %>
      </td>
    </tr>
  <% end %>
</table>
