<h1>Listing Questions</h1>

<%= link_to 'New question', new_question_path %>

<table class="table table-sm table-striped">
  <tr>
    <th scope="col">Question</th>
    <th scope="col">Choice A</th>
    <th scope="col">Choice B</th>
    <th scope="col">Choice C</th>
    <th scope="col">Choice D</th>
    <th scope="col">Correct Answer</th>
    <th scope="col">Show</th>
    <th scope="col">Edit</th>
    <th scope="col">Destroy</th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td scope="row"><%= question.question %></td>
      <td><%= question.choice_a %></td>
      <td><%= question.choice_b %></td>
      <td><%= question.choice_c %></td>
      <td><%= question.choice_d %></td>
      <td><%= question.correct_answer.upcase %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question_path(question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
