<h4>Sign up</h4>

<div class="col-md-6 col-md-offset-3">
<%= bootstrap_form_with(
  model: @user,
  local: true,
  layout: :horizontal
) do |form| %>
    <%= form.email_field :email %>
    <%= form.password_field :password %>
    <%= form.password_field :password_confirmation %>

    <%= form.form_group :terms do %>
      <%= form.check_box :terms, label: "I agree to the Terms of Service" %>
    <% end %>

    <%= form.submit "Create Account", class: "btn btn-primary"%>
<% end %>
</div>
