<nav class="nav flex-column">
  <a class="nav-link disabled" href="#">About</a>
  <a class="nav-link" href="/questions">Questions</a>
  <a class="nav-link" href="/users/new">Sign Up</a>
  <% if logged_in? %>
    <%= link_to "Users", '#', class: "nav-link" %>
    <%= link_to "Profile", current_user, class: "nav-link" %>
    <%= link_to "Settings", edit_user_path(current_user), class: "nav-link" %>
    <%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %>
  <% else %>
    <%= link_to "Log in", login_path, class: "nav-link" %>
  <% end %>
</nav>
